* {
    margin: 0;
    padding: 0;
}
*{font-family: 'Noto Sans KR'}

.space {
    clear: both;
}

.wrap {
    width: 1920px;
    margin: 0 auto
}

ul,
li {
    list-style: none;
    ;
}

body{overflow-x: hidden;}



.header {
    width: 1920px;
    height: 112px;
    background-color: #eceff4;
}

.logo {
    width: 250px;
    height: 35px;
    float: left;
    padding: 40px 0 0 70px;
}

.menu {
    width: 390px;
    height: 15px;
    float: right;
    padding-top: 40px;
    padding-right: 70px;
}

.menu li {
    width: 78px;
    float: left;
    text-align: center;
}

.mainimg {
    width: 1920px;
    height: 420px;
    background-image: url(../images/main\ image.jpg);
}

.box1 {
    width: 1920px;
    height: 711px;
    background-image: url(../images/content\ image1.jpg);
}

.box2 {
    width: 1920px;
    height: 463px;
    background-color: #0065ff;
    text-align: center;
    padding-top: 120px;
    color: white;
}

.box2 p {
    font-size: 13px;
    color: #87a9ff;
}

.box2 img {
    padding-top: 10px;
}

.box2 h1 {
    padding-top: 45px;
    font-size: 40px;
}

.box3 {
    width: 1920px;
    height: 640px;
}

.box3_left {
    width: 50%;
    height: 520px;
    background-color: #0b1c3a;
    color: #fff;
    float: left;
    text-align: center;
    padding-top: 120px;
}

.box3_left h1 {
    font-size: 40px;
}

.box3_left img {
    padding-top: 55px;
}

.box3_left p {
    padding-top: 40px;
    font-size: 15px;
    color: #a5a8af;
}

.box3_right {
    width: 50%;
    height: 520px;
    background-color: #0b2854;
    color: #fff;
    float: right;
    text-align: center;
    padding-top: 120px;
}

.box3_right h1 {
    font-size: 40px;
}

.box3_right img {
    padding-top: 55px;
}

.box3_right p {
    padding-top: 40px;
    font-size: 15px;
    color: #a5a8af;
}


.box4_left {
    width: 50%;
    height: 520px;
    background-color: #082247;
    color: #fff;
    float: left;
    text-align: center;
    padding-top: 120px;
}

.box4_left h1 {
    font-size: 40px;
}

.box4_left img {
    padding-top: 55px;
}

.box4_left p {
    padding-top: 40px;
    font-size: 15px;
    color: #a5a8af;
}

.box4_right {
    width: 50%;
    height: 520px;
    background-color: #1c355d;
    color: #fff;
    float: right;
    text-align: center;
    padding-top: 120px;
}

.box4_right h1 {
    font-size: 40px;
}

.box4_right img {
    padding-top: 55px;
}

.box4_right p {
    padding-top: 40px;
    font-size: 15px;
    color: #a5a8af;
}

.footer {
    width: 1920px;
    height: 170px;
    background-color: #eceff4;
}

.copyright {
    text-align: center;
    padding-top: 35px;
}

.sns{width: 170px; margin: 0 auto;}


.sns li {
    width: 50px;
    height: 45px;
    float: left;
    text-align: center;
    margin: 0 5 px;
    border-radius: 5px;
    padding-top: 15px;
}

.sns li img {
    vertical-align: middle;
}